/* MAIN PAGE */
.page-wrap {
    padding-top: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

body.open .page-wrap {
    margin-left: 300px;
}

.page-wrap .start-page {
    display: flex;
}

.page-wrap .start-page #page-title{
    width: 100%;
    display: grid;
    text-align: center;
    font-size: large;
}

#page-title h1{
    margin: 0;
    font-style: italic;
    font-weight: 600;
    font-family: cursive;
    font-size: -webkit-xxx-large;
}

.page-wrap .container-fluid {
    margin-top: 2rem;
    font-size: medium;
}

.page-wrap .container-fluid h1{
    text-align: center;
    font-style: italic;
    font-weight: 600;
    font-family: cursive;
    font-size: -webkit-xxx-large;
}

.page-wrap form input, .page-wrap form textarea, .page-wrap form select {
    display: block;
    width: 100%;
    padding: 2% 3%;
    margin: 1rem;
    font-size: large;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 2rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.page-wrap form input[type = "submit"] {
    width: auto;
    padding: 1% 1%;
    margin: auto;
}

.page-wrap form table{
    margin: auto;
}

.page-wrap .btn{
    font-weight: 900;
    font-size: x-large;
    margin-bottom: 1rem!important;
}

.page-wrap .temp{
    display: flex;
    justify-content: space-evenly;
}