nav{
    background-color: #e3f2fd;
}


.nav-item, .form-inline button, .navbar-text{
    font-size: large;
}

.nav-item, .navbar-text{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: .5rem;
    padding-right: 20px;
    margin: 0;
}

.navbar-collapse{
    display: None;
}

.col-sm-10 {
    max-width: 100%;
    font-size: medium;
}
